---

---

<div class="pr-5">
    <span class="mb-2.5 block h-[5px] w-10 bg-[#ff9776]"></span>
    <span class="mb-2.5 block h-[5px] w-10 bg-[#ff9776]"></span>
    <span class="mb-2.5 block h-[5px] w-10 bg-[#ff9776]"></span>
</div>
